@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: url(back1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main_box {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: rgba(255, 220, 220, 0.5);
    height: 550px;
    width: 350px;
    border-radius: 30px;
    backdrop-filter: blur(45px);
    border: 3px solid rgba(255, 220, 220, 0.5);
    overflow: hidden;
}

.login_box {
    position: absolute;
    width: 85%;
    left: 27px;
    transition: .4s ease-in-out;
}

.signup_box {
    position: absolute;
    width: 85%;
    left: 350px;
    transition: .4s ease-in-out;
}

.heading {
    text-align: center;
    margin: 40px 0px;
    color: purple;
}

.heading>h2 {
    font-size: 28px;
    font-weight: 400;
    color: rgb(138, 0, 138);
}

.input_box {
    width: 100%;
    height: 45px;
    margin-bottom: 10px;
    font-size: 17px;
    color: purple;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px 15px 0px 15px;
    background-color: rgba(224, 223, 233, 0.6);
    backdrop-filter: blur(1px);
    position: relative;

}

.input {
    position: relative;
    color: purple;
}

.input label {
    position: absolute;
    left: 20px;
    top: 10px;
    transition: .4s ease-in-out;
    color: purple;
}

.input_box:focus~label,
.input_box:valid~label {
    top: 2px;
    font-size: 10px;
    color: purple;
    font: bold;
    font-weight: 500;
}

.submit {
    margin: 20px 0px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    outline: none;
    font-size: 20px;
    border: none;
    font-weight: 500;
    color: white;
    background-color: rgba(149, 6, 174, 0.701);
    box-shadow: 0px 4px 20px rgba(62, 9, 9, 0.2);
    cursor: pointer;
    transition: .4s;
}

.submit:hover {
    background:  rgba(84, 7, 98, 0.746);
    box-shadow: 0px 4px 20px rgba(129, 21, 123, 0.4);
}

.forgot {
    color: purple;
    text-align: center;
    margin-top: 30px;
}

.forgot a {
    color: purple;
    text-decoration: none;
}

.switch {
    display: flex;
    position: absolute;
    bottom: 50px;
    width: 85%;
    left: 25px;
    height: 40px;
    color: purple;
    background-color: rgba(225, 225, 225, 0.16);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.switch a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 15px;
    text-decoration: none;
    overflow: hidden;
    color: purple;
    border-radius: 10px;
    z-index: 2;
}

#btn {
    color: purple;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 145px;
    background-color: #cccccd;
    border-radius: 10px;
    box-shadow: 2px 0px 12px rgba(0, 0, 0, 0.3);
    transition: 0.4s ease-in-out;
}

#btn1 {
    position: absolute;
    color: purple;
    bottom: 0;
    left: 150;
    height: 40px;
    width: 145px;
    background-color: #cccccd;
    border-radius: 10px;
    box-shadow: 2px 0px 12px rgba(0, 0, 0, 0.3);
    transition: 0.4s ease-in-out;
}